:root {
  /* --- Light Mode Colors --- */
  --clr-nav-upper: #ccc;
  --clr-nav-upper-border: #bbb;
  --clr-nav-lower: #ddd;
  --clr-nav-lower-border: #ccc;
  --clr-bg-primary: #eee;
  --clr-bg-secondary: #ddd;
  --clr-bg-accent: #1D81F4;
  --clr-bg-white: #fff;
  --clr-text-primary: #333;
  --clr-text-accent: #FCB040;
  --clr-text-black: #000;
  
  .dark {
    /* --- Dark Mode Colors --- */
    --clr-nav-upper: #171717;
    --clr-nav-upper-border: #050505;
    --clr-nav-lower: #222;
    --clr-nav-lower-border: #111;
    --clr-bg-primary: #2a2a2a;
    --clr-bg-secondary: #444;
    --clr-bg-accent: #1D81F4;
    --clr-bg-white: #fff;
    --clr-text-primary: #ddd;
    --clr-text-accent: #FCB040;
    --clr-text-black: #000;
  }
  
  /* --- Layouts --- */
  --border-radius: 1rem;

  // Make sure --nav-height stays consistent with the height of the nav bar
  --nav-height: 5rem;
  --nav-logo-height: 4rem;
  --article-width: 70rem;
  --solve-list-row-height: 1.8rem;
  --form-field-padding: 0.75rem 1rem;
  --form-border-radius: 0.5rem;
  --form-field-height: 2.5rem;

  --icon-puzzle-color: var(--clr-text-accent);
  --icon-puzzle-color-hover: #FFA733;
  --icon-puzzle-size: 5rem;
  --icon-puzzle-stroke-width: 0;
  --icon-puzzle-stroke-color: var(--clr-text-black);


  // TODO:
  // Var for spacing values
  // Var for shadows
  // Var for gradients if needed

  .large-text-mode {
    --nav-height: 6rem;
    --article-width: 85rem;
  }
}