<nav>
  <img src="Smootimer-nav-1.png" class="nav-icon" routerLink="">
  <ul>
    <li>
      <a routerLink="/timer">Timer</a>
    </li>
    <li>
      <a routerLink="/users">Users</a>
    </li> 
    <li>
      <a routerLink="/import">Import</a>
    </li> 
    <li>
      <a (click)="toggleTheme()">Theme</a>
    </li>          
    @if (auth.isAuthenticated) {
      <li>
        <a class="nav-user" routerLink="/users/{{ users.currentUser()?.identity.toString() }}">
          {{ users.currentUser()?.name ?? auth.profile?.name ?? auth.profile?.email }}
          @if (friends.hasIncomingRequests()) {
            <svg
              class="nav-notification"
              app-notification-icon
              role="img"
              aria-label="You have new friend requests"
              title="You have new friend requests"
            ></svg>
          }
        </a>
      </li>
      <li>
        <a (click)="auth.logout()">Logout</a>
      </li>
    } @else {
      <li>
        <a (click)="auth.login()">Login</a>
      </li>
    }
  </ul>
  @if (auth.isAuthenticated) {
    <button
      type="button"
      class="focus-toggle"
      [class.focus-on]="users.focusing()"
      [attr.aria-pressed]="users.focusing()"
      [disabled]="!users.currentUser()"
      title="Focus mode: show as focusing and hide the friend ticker"
      (click)="users.setFocus(!users.focusing())"
    >
      {{ users.focusing() ? 'Focusing' : 'Focus' }}
    </button>
  }
</nav>
